
.register_form{
    justify-content: center;
    padding-top: 20px;
    background-color: rgb(252 165 165);;
    margin-top: 5%;
    border: 2PX SOLID black;
}
.second{
    margin-left: 40%;
}
.h1tag{
    margin-left: 47%;
}
.input_box{
 
 padding: 7px;
 display: block;
 border: 1px solid skyblue;
 width: 300px;
 margin: 20px;
  


}
.signupbutt{
    margin: 20px;
    width: 150px;
    padding:10px;
    border: 1px solid;
    background-color: black;
    text-align: center;
    justify-content: center;
}

    